<%= form_for(@job) do |f| %>
  <button type="button" class="btn btn-success"> Apply </button>
  <button type="button" class="btn btn-info"> Already Applied </button>
  <button type="button" class="btn btn-warning"> Full </button>
  <button type="button" class="btn btn-danger"> Overbooked </button>
  <button type="button" class="btn btn-default"> Expired </button>
<% end %>
