body {
  background-color: #F5F4F4;
}

.header{
  padding: 5px 5px 5px 5px;
  background-color: #5C6983;

    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    z-index: 1;

}

.logo {
    border: 2px solid black;
    background-color: #F5F4F4;
    box-shadow: 6px 6px 3px #222222;
}

.login {
    box-shadow: 6px 6px 3px #222222;
    margin: 5px 5px 5px 5px;
    background-color: #F5F4F4;
}

.nav_bar {
    border: 2px solid black;
}

.content {
  margin-top: 60px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: #C1D3C8;
  padding: 20px 10px 20px 10px;
}

.footer {
      background-color: #5C6983;
      padding: 10px 10px 10px 10px;
}

.footer_content {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background-color: #F5F4F4;
    border: 2px solid black;
}

.index_table {
  border: 2px solid black;
}
.btn {
  margin: 2px 2px 2px 2px;
}

td {
  min-width: 70px;
  padding: 5px 5px 5px 5px;
  border: 2px solid black;
}

